---
page_title: "doppler_change_request_policy Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a Doppler change request policy.
---

# doppler_change_request_policy (Resource)

Manage a Doppler change request policy.

## Example Usage

{{tffile "examples/resources/change_request_policy.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_change_request_policy.<name> <change-request-policy-id>
```
