---
page_title: "doppler_config Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a Doppler config.
---

# doppler_config (Resource)

Manage a Doppler config.

## Example Usage

{{tffile "examples/resources/config.tf"}}

{{ .SchemaMarkdown | trimspace }}
