---
page_title: "doppler_environment Resource - terraform-provider-doppler"
subcategory: "Project Structure"
description: |-
	Manage a Doppler environment.
---

# doppler_environment (Resource)

Manage a Doppler environment.

## Example Usage

{{tffile "examples/resources/environment.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_environment.default <project-name>.<environment-slug>
```
