---
page_title: "doppler_group_member Resource - terraform-provider-doppler"
subcategory: "Groups"
description: |-
	Manage a Doppler user/group membership.
---

# doppler_group_member (Resource)

Manage a Doppler user/group membership.

**Note:** You can also exclusively manage all memberships in a group with a single resource.
See the `doppler_group_members` resource for more information.

## Example Usage

{{tffile "examples/resources/group_member.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
# import using the group slug from the URL:
# https://dashboard.doppler.com/workplace/[workplace-slug]/team/groups/[group-slug]
# and the user slug from the URL:
# https://dashboard.doppler.com/workplace/[workplace-slug]/team/users/[user-slug]
terraform import doppler_group_member.default <group-slug>.workplace_user.<user-slug>
```
