---
page_title: "doppler_integration_aws_mysql Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a AWS MySQL Doppler integration.
---

# doppler_integration_aws_mysql (Resource)

Manage a AWS MySQL Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_aws_mysql.tf"}}

{{ .SchemaMarkdown | trimspace }}
