---
page_title: "doppler_integration_gcp_cloudsql_mysql Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP CloudSQL MySQL Doppler integration.
---

# doppler_integration_gcp_cloudsql_mysql (Resource)

Manage a GCP CloudSQL MySQL Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_gcp_cloudsql.tf"}}

{{ .SchemaMarkdown | trimspace }}
