---
page_title: "doppler_integration_member_user Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a Doppler integration user member.
---

# doppler_integration_member_user (Resource)

Manage a Doppler integration user member.

## Example Usage

{{tffile "examples/resources/integration_member_user.tf"}}

{{ .SchemaMarkdown | trimspace }}
