---
page_title: "doppler_integration_mongodb_atlas Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a MongoDB Atlas Doppler integration.
---

# doppler_integration_mongodb_atlas (Resource)

Manage a MongoDB Atlas Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_mongodb_atlas.tf"}}

{{ .SchemaMarkdown | trimspace }}
