---
page_title: "doppler_integration_gcp_secret_manager_oidc Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP Secret Manager Doppler integration using workload identity federation.
---

# doppler_integration_gcp_secret_manager_oidc (Resource)

Manage a GCP Secret Manager Doppler integration using workload identity federation.

## Example Usage

{{tffile "examples/resources/integration_gcp_secret_manager_oidc.tf"}}

{{ .SchemaMarkdown | trimspace }}
