---
page_title: "doppler_integration_circleci Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a CircleCI Doppler integration.
---

# doppler_integration_circleci (Resource)

Manage a CircleCI Doppler integration.

## Example Usage

{{tffile "examples/resources/integration_circleci.tf"}}

{{ .SchemaMarkdown | trimspace }}
