---
page_title: "doppler_integration_gcp_secret_manager Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a GCP Secret Manager Doppler integration.
---

# doppler_integration_gcp_secret_manager (Resource)

Manage a GCP Secret Manager Doppler integration.

## Example Usage

{{tffile "examples/resources/integration_gcp_secret_manager.tf"}}

{{ .SchemaMarkdown | trimspace }}
