---
page_title: "doppler_integration_aws_postgres Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a AWS Postgres Doppler integration.
---

# doppler_integration_aws_postgres (Resource)

Manage a AWS Postgres Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_aws_postgres.tf"}}

{{ .SchemaMarkdown | trimspace }}
