---
page_title: "doppler_integration_member_group Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a Doppler integration group member.
---

# doppler_integration_member_group (Resource)

Manage a Doppler integration group member.

## Example Usage

{{tffile "examples/resources/integration_member_group.tf"}}

{{ .SchemaMarkdown | trimspace }}
