---
page_title: "doppler_integration_member_service_account Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a Doppler integration service account member.
---

# doppler_integration_member_service_account (Resource)

Manage a Doppler integration service account member.

## Example Usage

{{tffile "examples/resources/integration_member_service_account.tf"}}

{{ .SchemaMarkdown | trimspace }}
