---
page_title: "doppler_integration_aws_parameter_store Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage an AWS Parameter Store Doppler integration.
---

# doppler_integration_aws_parameter_store (Resource)

Manage an AWS Parameter Store Doppler integration.

## Example Usage

{{tffile "examples/resources/integration_aws_parameter_store.tf"}}

{{ .SchemaMarkdown | trimspace }}
