---
page_title: "doppler_integration_aws_mssql Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a AWS MS SQL Server Doppler integration.
---

# doppler_integration_aws_mssql (Resource)

Manage a AWS MS SQL Server Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_aws_mssql.tf"}}

{{ .SchemaMarkdown | trimspace }}
