---
page_title: "doppler_integration_aws_iam_user_keys Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
  Manage a AWS IAM User Keys Doppler integration.
---

# doppler_integration_aws_iam_user_keys (Resource)

Manage a AWS IAM User Keys Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_aws_iam_user_keys.tf"}}

{{ .SchemaMarkdown | trimspace }}
