---
page_title: "doppler_integration_cloudflare_tokens Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a Cloudflare Tokens Doppler integration.
---

# doppler_integration_cloudflare_tokens (Resource)

Manage a Cloudflare Tokens Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_cloudflare_tokens.tf"}}

{{ .SchemaMarkdown | trimspace }}
