---
page_title: "doppler_integration_aws_secrets_manager Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage an AWS Secrets Manager Doppler integration.
---

# doppler_integration_aws_secrets_manager (Resource)

Manage an AWS Secrets Manager Doppler integration.

## Example Usage

{{tffile "examples/resources/integration_aws_secrets_manager.tf"}}

{{ .SchemaMarkdown | trimspace }}
