---
page_title: "doppler_integration_openai Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage an OpenAI Doppler integration.
---

# doppler_integration_openai (Resource)

Manage an OpenAI Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_openai.tf"}}

{{ .SchemaMarkdown | trimspace }}
