---
page_title: "doppler_integration_gcp_cloudsql_sqlserver Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP CloudSQL SQL Server Doppler integration.
---

# doppler_integration_gcp_cloudsql_sqlserver (Resource)

Manage a GCP CloudSQL SQL Server Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_gcp_cloudsql.tf"}}

{{ .SchemaMarkdown | trimspace }}
