---
page_title: "doppler_integration_gcp_cloudsql_postgres_oidc Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP CloudSQL Postgres Doppler integration using workload identity federation.
---

# doppler_integration_gcp_cloudsql_postgres_oidc (Resource)

Manage a GCP CloudSQL Postgres Doppler integration using workload identity federation.

## Example Usage

{{tffile "examples/resources/integration_gcp_cloudsql_postgres_oidc.tf"}}

{{ .SchemaMarkdown | trimspace }}
