---
page_title: "doppler_integration_sendgrid Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a SendGrid Doppler integration.
---

# doppler_integration_sendgrid (Resource)

Manage a SendGrid Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_sendgrid.tf"}}

{{ .SchemaMarkdown | trimspace }}
