---
page_title: "doppler_integration_gcp_cloudsql_sqlserver_oidc Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP CloudSQL SQL Server Doppler integration using workload identity federation.
---

# doppler_integration_gcp_cloudsql_sqlserver_oidc (Resource)

Manage a GCP CloudSQL SQL Server Doppler integration using workload identity federation.

## Example Usage

{{tffile "examples/resources/integration_gcp_cloudsql_sqlserver_oidc.tf"}}

{{ .SchemaMarkdown | trimspace }}
