---
page_title: "doppler_integration_azure_vault_service_principal Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage an Azure Vault (Service Principal) Doppler integration.
---

# doppler_integration_azure_vault_service_principal (Resource)

Manage an Azure Vault (Service Principal) Doppler integration.

## Example Usage

{{tffile "examples/resources/integration_azure_vault_service_principal.tf"}}

{{ .SchemaMarkdown | trimspace }}
