---
page_title: "doppler_integration_gcp_service_account_keys Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP Service Account Keys Doppler integration.
---

# doppler_integration_gcp_service_account_keys (Resource)

Manage a GCP Service Account Keys Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_gcp_service_account_keys.tf"}}

{{ .SchemaMarkdown | trimspace }}
