---
page_title: "doppler_integration_gcp_cloudsql_postgres Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP CloudSQL Postgres Doppler integration.
---

# doppler_integration_gcp_cloudsql_postgres (Resource)

Manage a GCP CloudSQL Postgres Doppler integration.

## Example Usage

{{tffile "examples/resources/rotated_secret_gcp_cloudsql.tf"}}

{{ .SchemaMarkdown | trimspace }}
