---
page_title: "doppler_project Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a Doppler project.
---

# doppler_project (Resource)

Manage a Doppler project.

## Example Usage

{{tffile "examples/resources/project.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_project.default <project-name>
```
