---
page_title: "doppler_project_member_workplace_user Resource - terraform-provider-doppler"
subcategory: "Project Structure"
description: |-
	Manage a Doppler project workplace user member.
---

# doppler_project_member_workplace_user (Resource)

Manage a Doppler project workplace user member.

## Example Usage

{{tffile "examples/resources/project_member_workplace_user.tf"}}

{{ .SchemaMarkdown | trimspace }}
