---
page_title: "doppler_project_role Resource - terraform-provider-doppler"
subcategory: "Roles"
description: |-
	Manage a Doppler project role.
---

# doppler_project_role (Resource)

Manage a Doppler project_role.

## Example Usage

{{tffile "examples/resources/project_role.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_project_role.default <project-role-identifier>
```
