---
page_title: "doppler_project_member_service_account Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a Doppler project service account member.
---

# doppler_project_member_service_account (Resource)

Manage a Doppler project service account member.

## Example Usage

{{tffile "examples/resources/project_member_service_account.tf"}}

{{ .SchemaMarkdown | trimspace }}
