---
page_title: "doppler_secrets_sync_github_dependabot Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a GitHub Dependabot Doppler sync.
---

# doppler_secrets_sync_github_dependabot (Resource)

Manage a GitHub Dependabot Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_github_dependabot.tf"}}

{{ .SchemaMarkdown | trimspace }}
