---
page_title: "doppler_secret Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manages a single Doppler secret in a config.
---

# doppler_secret (Resource, Pre-Release)

**This resource is in pre-release and is not intended to be used in production.**

Manages a single Doppler secret in a config.

## Example Usage

{{tffile "examples/resources/secret.tf"}}

{{ .SchemaMarkdown | trimspace }}
