---
page_title: "doppler_secrets_sync_aws_secrets_manager Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage an AWS Secrets Manager Doppler sync.
---

# doppler_secrets_sync_aws_secrets_manager (Resource)

Manage an AWS Secrets Manager Doppler sync.

## Example Usage

{{tffile "examples/resources/integration_aws_secrets_manager.tf"}}

{{ .SchemaMarkdown | trimspace }}
