---
page_title: "doppler_secrets_sync_gcp_secret_manager Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GCP Secret Manager Doppler sync.
---

# doppler_secrets_sync_gcp_secret_manager (Resource)

Manage a GCP Secret Manager Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_gcp_secret_manager.tf"}}

{{ .SchemaMarkdown | trimspace }}
