---
page_title: "doppler_secret Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a single Doppler secret in a config.
---

# doppler_secret (Resource)

Manage a single Doppler secret in a config.

## Example Usage

{{tffile "examples/resources/secret.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Resource ID Format

Resource IDs are in the format `<project-name>.<config-name>.<secret-name>`.
