---
page_title: "doppler_secrets_sync_azure_vault Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage an Azure Vault Doppler sync.
---

# doppler_secrets_sync_azure_vault (Resource)

Manage an Azure Vault Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_azure_vault.tf"}}

{{ .SchemaMarkdown | trimspace }}
