---
page_title: "doppler_secrets_sync_azure_vault_service_principal Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage an Azure Vault Doppler sync.
---

# doppler_secrets_sync_azure_vault_service_principal (Resource)

Manage an Azure Vault Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_azure_vault_service_principal.tf"}}

{{ .SchemaMarkdown | trimspace }}
