---
page_title: "doppler_secrets_sync_github_actions Resource - terraform-provider-doppler"
subcategory: "Integrations"
description: |-
	Manage a GitHub Actions Doppler sync.
---

# doppler_secrets_sync_github_actions (Resource)

Manage a GitHub Actions Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_github_actions.tf"}}

{{ .SchemaMarkdown | trimspace }}
