---
page_title: "doppler_secrets_sync_github_agents Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a GitHub Copilot Agents Doppler sync.
---

# doppler_secrets_sync_github_agents (Resource)

Manage a GitHub Copilot Agents Doppler sync.

## Example Usage

{{tffile "examples/resources/secrets_sync_github_agents.tf"}}

{{ .SchemaMarkdown | trimspace }}
