---
page_title: "doppler_secret Resource - terraform-provider-doppler"
subcategory: "Secrets"
description: |-
	Manage a single Doppler secret in a config.
---

# doppler_secret (Resource)

Manage a single Doppler secret in a config.

## Example Usage

{{tffile "examples/resources/secret.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_secret.default <project-name>.<config-name>.<secret-name>
```
