---
page_title: "doppler_service_token Resource - terraform-provider-doppler"
subcategory: "Service Tokens"
description: |-
	Manage a Doppler service_token.
---

# doppler_service_token (Resource)

Manage a Doppler service token.

## Example Usage

{{tffile "examples/resources/service_token.tf"}}

{{ .SchemaMarkdown | trimspace }}
