---
page_title: "doppler_service_account_token Resource - terraform-provider-doppler"
subcategory: "Service Accounts"
description: |-
	Manage a Doppler service_account_token.
---

# doppler_service_account_token (Resource)

Manage a Doppler service account token.

## Example Usage

{{tffile "examples/resources/service_account_token.tf"}}

{{ .SchemaMarkdown | trimspace }}
