---
page_title: "doppler_service_account Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a Doppler service account.
---

# doppler_service_account (Resource)

Manage a Doppler service account.

## Example Usage

{{tffile "examples/resources/service_account.tf"}}

{{ .SchemaMarkdown | trimspace }}
