---
page_title: "doppler_tag Resource - terraform-provider-doppler"
subcategory: "Tags"
description: |-
	Manage a Doppler tag.
---

# doppler_tag (Resource)

Manage a Doppler tag.

## Example Usage

{{tffile "examples/resources/tag.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_tag.default <tag-slug>
```
