---
page_title: "doppler_trusted_ip Resource - terraform-provider-doppler"
subcategory: ""
description: |-
	Manage a Doppler trusted IP.
---

# doppler_trusted_ip (Resource)

Manage a Doppler trusted IP.

## Example Usage

{{tffile "examples/resources/trusted_ip.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Resource ID Format

Resource IDs are in the format `<project-name>.<config-name>#<ip-address>`.
