---
page_title: "doppler_webhook Resource - terraform-provider-doppler"
subcategory: "Webhooks"
description: |-
	Manage a Doppler Webhook.
---

# doppler_webhook (Resource)

Manage a Doppler Webhook.

## Example Usage

{{tffile "examples/resources/webhook.tf"}}

{{ .SchemaMarkdown | trimspace }}

## State Management

For security reasons, the Doppler API does not return the fields listed below, which prevents the Terraform provider from checking this external state.
In other words, the Terraform provider can be used to update these webhook fields but it will be unaware of external changes.

- `secret`
- `authentication`
- `payload`
