---
page_title: "doppler_workplace_role Resource - terraform-provider-doppler"
subcategory: "Roles"
description: |-
	Manage a Doppler workplace role.
---

# doppler_workplace_role (Resource)

Manage a Doppler workplace_role.

## Example Usage

{{tffile "examples/resources/workplace_role.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import doppler_workplace_role.default <workplace-role-identifier>
```
