---
page_title: "doppler Provider"
description: |-
  The Doppler provider is used to interact with resources provided by Doppler. The provider must be configured with either a Doppler token or OIDC authentication.
---

# Doppler Provider

The [Doppler](https://doppler.com) provider is used to interact with resources provided by Doppler. The provider must be configured with either a Doppler token or OIDC authentication.

## Example Usage

### Token Authentication

```hcl
provider "doppler" {
  doppler_token = "<YOUR DOPPLER TOKEN>"
}
```

### OIDC Authentication

```hcl
# Using a token file (e.g. Kubernetes projected service account token)
provider "doppler" {
  oidc_identity   = "<YOUR SERVICE ACCOUNT IDENTITY UUID>"
  oidc_token_file = "/var/run/secrets/tokens/doppler"
}

# Or using a token directly
provider "doppler" {
  oidc_identity = "<YOUR SERVICE ACCOUNT IDENTITY UUID>"
  oidc_token    = "<YOUR OIDC JWT>"
}
```

{{ .SchemaMarkdown | trimspace }}

## Getting Help

If you need help, customers on our Standard, Pro, or Enterprise plan can reach out via our in-product support, or post a message in our [community forum](https://community.doppler.com/c/need-help/6).

If you'd like to report an issue or request an enhancement, please [create a new issue on the repository](https://github.com/DopplerHQ/terraform-provider-doppler/issues).
