---
page_title: "doppler_environments Data Source - terraform-provider-doppler"
subcategory: "Project Structure"
description: |-
  Retrieve all environments in the project.
---

# doppler_environments (Data Source)

Retrieve all environments in the project.

## Example Usage

{{tffile "examples/data-sources/environments.tf"}}

{{ .SchemaMarkdown | trimspace }}
