---
page_title: "doppler_group Data Source - terraform-provider-doppler"
subcategory: "Groups"
description: |-
  Retrieve an existing Doppler group.
---

# doppler_group (Data Source)

Retrieve an existing Doppler group.

## Example Usage

{{tffile "examples/data-sources/group.tf"}}

{{ .SchemaMarkdown | trimspace }}
