---
page_title: "doppler_secrets Data Source - terraform-provider-doppler"
subcategory: "Secrets"
description: |-
  Retrieves all secrets in the config.
---

# doppler_secrets (Data Source)

Retrieves all secrets in the config.

## Example Usage

{{tffile "examples/data-sources/secrets.tf"}}

{{ .SchemaMarkdown | trimspace }}
