---
page_title: "doppler_user Data Source - terraform-provider-doppler"
subcategory: "User"
description: |-
  Retrieve a Doppler user
---

# doppler_user (Data Source)

Retrieve all secrets in the config.

## Example Usage

{{tffile "examples/data-sources/user.tf"}}

{{ .SchemaMarkdown | trimspace }}
